.header-border-bottom {
  box-shadow: 0 2px 0px 0 #161863;
}
.center-shadow {
  box-shadow: 0 2px 0px 0 #cfcccc;
}
.footer-border-top {
  border-top:1px solid #cfcccc;
}
.footer-left-side-div {
  box-shadow: 0px 0 0 1px #161863;
}

.container-1 input#search{
  width: 300px;
  height: 30px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;  
}
 .icon {
  position: absolute;
  margin-left: 3px;
  margin-top: 3px;
  z-index: 1;
  color: #4f5b66;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
  outline:none;
  background: #cfcccc;
}
/* do ovde */
.right-padding-0 {
  padding-right: 0px;
}
.position-footer {
  position: absolute;
  bottom: 0px;
}
.plus {
  fill: yellowgreen;
}
.bold-font {
  font-weight: bold;
}
html,body {
  overflow: hidden;
}
.p-padding {
  right: 14px;
  font-family: 'Arial';
  height: 10px;
}
.mobile {
 fill: white;
}
.li-padding {
  padding-bottom: 40px;
  list-style: none;
  color: #a8a8a8;
}
.mobile-div {
  padding-top: 10px;
  padding-left: 76px;
}
.trash-pointer {
  cursor:pointer;
}

.inputField {
  padding-top: 10px;
  max-width: 800px;
  min-width: 150px;
  padding-left: 50px;
}
.max-width-header {
  width: 100%;
}
.ulPading-div{
  float: left;
    width: calc(100% - 401px);
}
.ulPading {
  overflow: auto;
  height: 80vh;
  /* width: 100ch; */
  width: 100%;
  margin-top: 80px;
  margin-right: 50px;
}
.bottom-left-div {
  right: 16px;
  height: 60px;
}
.img-padding {
  margin-top: 14px;
}
.plus-div-style {
  padding-top: 10px;
}
.avatar {
  vertical-align: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.list-style {
  padding: 10px 15px;
  list-style: none; 
  /* float: left;
  right: 70px; */
}
.header-input-field-div {
  max-width: 400px;
  padding-top: 20px;
  padding-left: 30px;
  opacity: 0.9;
  padding-right: 30px;
}
.header-input-field {
  opacity: 0.7;
  height: 30px;
  width: 100%;
 
}
.header-position {
  position: absolute;
  z-index: 100;
}
.fill-height {
    background-color: #161863;
    opacity: 0.9;
    overflow: auto;
    color: #DCDCDC;
    min-width: 170px;
    max-width: 401px;
    height: calc(100vh - 129px);
    margin-top: 70px;
    float: left;
}
.padding-left-0 {
  padding-left: 0%;
}
.padding-left-list-name {
  padding-left: 100px;
}
.header-left-side {
  background-color: #161863;
  opacity: 0.9;
  max-width: 401px;
}
/* .header-border {
  border-bottom: 1px solid #a8a8a8;
} */
.float-header {
  float: right;
}
.padding-header-bottom-left {
  padding-bottom: 20px;
  height: 100%;
  width: 100%;
  max-width: 386px;
  float: left;
  padding-left: 18px;
}
.trashCan{
  text-align: right;
  display: none;
}
.min-width {
  min-width: 150px;
  max-width: 220px;
  top: 20px;
}
.footer-left-side {
  background-color: #161863;
  opacity: 0.9;
  max-width: 386px;
}
.col-md-4.col-sm-4.col-lg-4.col-xs-4.min-width{
  float: right;
}
li {
  word-break: break-all;
}
.showTrash:hover .trashCan{
  display: block;
}
.li-change-color {
  background-color: #161863;
}
.li-change-color:hover {
  background-color: #0e1044;
}